<h1><%= @title %></h1>
<p>Welcome to <%= @title %></p>
<p>Head over to <a href="/example"><code>/example</code></a> for some JSON example output </p>
<div class="card m-3 mt-5">
  <%= form_with url: "/send-sms", method: "post", html: {id: "smsForm", class: "card-body"}  do |form| %>
    <h2 class="card-title">Send an SMS</h2>
    <div class="form-group">
      <%= form.label "Receipient phone number:", for: "toInput" %>
      <%= form.text_field :to, id: "toInput", required: true, class: "form-control",
        placeholder: "+1 111 222 3333", type: "tel", aria: { describedby:"phoneNumberHelp" } %>
      <small id="phoneNumberHelp">When you click "Send Message" we'll send an SMS to
        that number using your Twilio Account</small>
    </div>
    <div class="form-group">
      <%= form.label "Message to send:", for: "bodyInput" %>
      <%= form.text_field :body, class: "form-control", id: "bodyInput",
        type: "text", required: true, placeholder: "type in your message..." %>
    </div>
    <%= form.submit "Send Message", class: "btn btn-primary" %>
    <div class="alert alert-success mt-4 d-none" id="dialog" role="alert">
      <h4 class="alert-heading" id="dialogTitle">SMS Sent!</h4>
      <p id="dialogContent">placeholder</p>
    </div>
  <% end %>
</div>
